.outerbox{
    background-color: beige;
    min-height:400px;
    display:flex;
    flex-wrap:wrap;
   /* flex-direction:column; justify-content: flex-start--top , flex-end--bottom || align-items: flex-start:left , flex-end:right */
    justify-content:center; /* flex start--left and flex end--right */
    justify-content: space-around;
    align-items:center; /* flex start--top and flex end--bottom */ /*stretch */
}

.box{
    width:150px;
    height:250px;
    background-color: blue;
    border:2px solid white;
}
.box1{
      align-self: flex-start;
}
.box2{
    flex-grow:1;
}
.box3{
    flex: 1 2 0px; /* grow , shrink, basis */
}
.box4{
    flex:1;
}
.container{
    display:flex;  /* default : row */ /* main axis and cross axis */
}

p{
    padding:25px;
}
.one{
    background-color:aquamarine;
    flex:1; /*1:1:2 */
    order:3;
}
.two{
    background-color:darksalmon;
    flex:1;
    order:1;
}
.three{
    background-color:rgb(209, 243, 209);
    flex:2;
    order:2;
}